<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="bg" style="height: 100%;">
    <nav class="navbar navbar-expand-lg bg-muted">
        <div class="container-fluid ml-auto">
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static '/images/book-clipart.png' %}" width="30" height="24"
                    class="d-inline-block align-text-top">
                eLibrary
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'library_layout:display_books' %}">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'library_layout:display_authors' %}">Authors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'library_layout:register' %}">Register</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'library_layout:user_profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-link btn btn-danger" href="{% url 'library_layout:user_logout' %}"
                            role="button">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="navbar-link btn btn-success" href="{% url 'library_layout:user_login' %}"
                            role="button">Login</a>
                    </li>
                    {% endif %}
                </ul>
                <!-- search bar -->
                <form action="{% url 'library_layout:display_books' %}" class="d-flex" role="search" method="post">
                    {% csrf_token %}
                    <input class="form-control me-2" type="search" placeholder="Search book" aria-label="Search"
                        name="searched">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <div>
        {% block body_block %}
        {% endblock %}
    </div>

    <div class="text-center" style="position: relative;bottom: 0;width: 100%;height: 60px;">
        2022 | Roberto Meer |
        <a class="text-dark" href="{% url 'library_layout:terms' %}">Terms of Service</a>
    </div>

</body>

</html>