{% extends "library_layout/base.html" %}

{% block body_block %}
  <div class="container">
    <div class="jumbotron">
      {% if user.is_authenticated %}
        <h1>you're already registered</h1>
      {% else %}
        {% if registered %}
          <h1>Thank you for registering!</h1>
        {% else %}
          <h1>Register Here</h1>
          <h3>Just fill out the form.</h3>

          <!-- validation only showing in terminal and not on page -->
          {% if useformerror %}
            {{userformerror}}
          {% elif profileformerror %}
            {{profileformerror}}
          {% endif %}

          <form enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
              <div class="col-sm-10">
                {{ user_form.username }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
              <div class="col-sm-10">
                {{ user_form.email }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">password</label>
              <div class="col-sm-10">
                {{ user_form.password }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">password veriffication</label>
              <div class="col-sm-10">
                {{ user_form.verify_pass }}
              </div>
            </div>
            <div class="row mb-3">
              <label for="inputEmail3" class="col-sm-2 col-form-label">profile picture</label>
              <div class="col-sm-10">
                {{ profile_form.profile_pic }}
              </div>
            </div>
            <input type="submit" name="" value="Register">
          </form>

        {% endif %}
      {% endif %}
    </div>

  </div>

{% endblock %}
